ul.columns { margin: 0; padding: 0; list-style-type: none; word-spacing: -1ex; }
/* 
    Firefox ниже версии 3 не знает о inline-block.
    Поэтому указываем для него -moz-inline-stack
*/
.columns li { display: -moz-inline-stack; display: inline-block; //display: inline; }
/*
    Чтобы ссылки не нажимались кликом
    по пустому месту, применим фильтр
*/
.columns a, .columns b { display: inline; word-spacing: normal; //display: inline-block; //filter: alpha(opacity=100); }
.columns a, .columns b, x:-moz-any-link { display:block; }
/*
    Если Firefox выше 2.0, Возвращаем a и b в inline
*/
.columns a, .columns b, x:-moz-any-link, x:default { display: inline; }
.columns li, .columns a, .columns b { vertical-align: top; }

/* customize */
.columns li { margin: 0 10% 0.4em 0; //margin: 0; width: 40%; //width: auto; }
.columns a, .columns b { //margin: 0 10% 0.4em 0; //width: 40%; }
.columns ul { width: 100%; }
