.two_columns
  .left_column
    %h2
      %span
        = params[:id]
      -if params[:id] == 1
      = t :room_apartment
      -#-else
      -#= t :rooms_apartment

    = render 'shared/apartments'
.right_column
= render 'shared/right_column'