.two_columns
  .left_column_apartment
    %h2
      :plain
        <span>A</span>partment ID

    .apartment-description
      .big-image
        %img(src="/images/ap2_1.jpg" width="416" height="316")
        .small-images
          %table
            %tr
              %td
                %img{:src => "/images/ap2_1.jpg", :width => 95, :height => 71}
              %td
                %img{:src => "/images/ap2_1.jpg", :width => 95, :height => 71}
              %td
                %img{:src => "/images/ap2_1.jpg", :width => 95, :height => 71}
              %td
                %img{:src => "/images/ap2_1.jpg", :width => 95, :height => 71}
            %tr
              %td
                %img{:src => "/images/ap2_1.jpg", :width => 95, :height => 71}
              %td
                %img{:src => "/images/ap2_1.jpg", :width => 95, :height => 71}
              %td
                %img{:src => "/images/ap2_1.jpg", :width => 95, :height => 71}
              %td
                %img{:src => "/images/ap2_1.jpg", :width => 95, :height => 71}

      .description
        %h3
          %a{:href => '#'}
            2-room appartment on Izmail
        .param
          %ul
            %li
              %strong
                ID:
              0001
            %li
              %strong
                Number of rooms:
              1
            %li
              %strong
                Number of persons:
              2
            %li
              %strong
                TV:
              yes
            %li
              %strong
                Internet:
              yes
            %li
              %strong
                Washing machine:
              yes
            %li
              %strong
                Conditioner:
              yes
            %li
              %strong
                Balcony:
              yes
        .price
          %span
            €
          60
        .detailed-description
          The apartment is located in the center of the city on the Pushkin street, near to a Sun City shopping center. Apartment is with a good repair and perfect conditions for residing at it. There is all the most necessary in the apartment: a microwave, an electric kettle, TV, the Internet, the iron, the refrigerator, the hot water, all kitchen devices for preparation and food intake. There is a  big beautiful double bed in the room, a spacious pure shower cabin is located in a bathroom.
          Near to the apartment there is a supervised parking, there is a park zone hereabout, supermarkets, banks, restaurants, travel agencies and many other things. There are clean bed-linen and towels always in the apartment.


