!!!Strict
%html
  = javascript_include_tag 'jquery-1.5.min', 'rails', 'application'
  %body
    .menu
      = link_to 'Pages','/admin/pages'
      = link_to 'Apartments','/admin/apartments'
    = yield


